[user]
	name = Nathanael Tehilla Gunawan
	email = 61931072+narasaka@users.noreply.github.com
[init]
	defaultBranch = main
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[push]
	autoSetupRemote = true
